<h1 class="text-center">CAMBIA TU CONTRASEÑA</h1>

<form (ngSubmit)="changePassworCallService()" class="row g-3 text-dark mx-auto">
    <label class="form-label text-center" for="emailId">Email</label>
    <input
        class="form-control text-center"
        type="text"
        name="emailId"
        [(ngModel)]="changePasswordDTO.email"
    />

    <label class="form-label text-center" for="password">Password</label>
    <input
        class="form-control text-center"
        type="password"
        name="password"
        [(ngModel)]="changePasswordDTO.password"
    />

    <label class="form-label text-center" for="newPassword">
        New Password</label
    >
    <input
        class="form-control text-center"
        type="password"
        name="newPassword"
        [(ngModel)]="changePasswordDTO.newPassword"
    />

    <div class="row mt-3">
        <div class="col-6">
            <button type="reset" value="Clear" class="btn btn-primary w-100">
                Limpiar
            </button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success w-100">Enviar</button>
        </div>
    </div>
</form>
