    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">

        <div class="row">

          <!--Cachorro zuiodo -->
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{'REGISTER_MAIN_TEXT' | translate}}</h1>
              </div>
              <form class="user text-center" (ngSubmit)="crearRegistro()" #formularioRegistro="ngForm">
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <input
                            type="text"
                            class="form-control form-control-user text-center"
                            id="nombre"
                            name="nombre"
                            [(ngModel)]="nuevoRegistro.nombre"
                            placeholder="{{'REGISTER_NAME_PLACEHOLDER' | translate}}"
                            required
                            #nombre="ngModel"
                            minlength="1" maxlength="100"
                            [ngClass]="validClasses(nombre, 'is-valid', 'is-invalid')">
                    <div *ngIf="nombre.touched && nombre.invalid" class="alert alert-danger">
                        {{'REGISTER_NAME_REQUIRED_TEXT' | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <input  type="email"
                            class="form-control form-control-user text-center"
                            name="email"
                            id="email"
                            [(ngModel)]="nuevoRegistro.correo"
                            placeholder="{{'REGISTER_PASSWORD_PLACEHOLDER' | translate}}"
                            pattern=".+@gmail\.com"
                            required
                            minlength="1" maxlength="100"
                            #email="ngModel"
                            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')">
                    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                        {{'REGISTER_EMAIL_PROBLEM' | translate}}
                    </div>
                </div>
                <div class="form-group">

                    <input  type="password"
                            class="form-control form-control-user text-center"
                            id="password"
                            name="password"
                            placeholder="{{'REGISTER_ENTER_PASSWORD_PLACEHOLDER' | translate}}"
                            required
                            minlength="1" maxlength="100"
                            [(ngModel)]="nuevoRegistro.password"
                            #password="ngModel"
                            [ngClass]="validClasses(password, 'is-valid', 'is-invalid')">
                    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                        {{'REGISTER_PASSWORD_REQUIRED_TEXT' | translate}}
                    </div>

                <!--  <div class="col-sm-6">
                    <input  type="password"
                            class="form-control form-control-user text-center"
                            id="password2"
                            name="password2"
                            placeholder="{{'REGISTER_REPEAT_PASSWORD_PLACEHOLDER' | translate}}"
                            required
                            minlength="1"
                            [(ngModel)]="confirmPassword"
                            #password2="ngModel"
                            [ngClass]="validClasses(password2, 'is-valid', 'is-invalid')">
                    <div *ngIf="password2.touched && password2.invalid" class="alert alert-danger">
                        {{'REGISTER_PASSWORD_DIFFERENT_TEXT' | translate}}
                    </div>
                  </div> -->
                </div>
                <button class="btn btn-primary btn-user btn-block" [disabled]="!formularioRegistro.form.valid">
                    {{'REGISTER_REGISTER_BUTTON_TEXT' | translate}}
                </button>
                <!-- <hr> -->
                <!-- <a routerLink="/login" class="btn btn-google btn-user btn-block">
                  <em class="fab fa-google fa-fw"></em>{{'REGISTER_CONNECT_WITH_GOOGLE_BUTTON_TEXT' | translate}}
                </a>
                <a routerLink="/login" class="btn btn-facebook btn-user btn-block">
                  <em class="fab fa-facebook-f fa-fw"></em>{{'REGISTER_CONNECT_WITH_FACEBOOK_BUTTON_TEXT' | translate}}
                </a> -->
              </form>
              <hr>
              <!-- <div class="text-center">
                <a class="small" routerLink="">{{'REGISTER_FORGOTTEN_PASSWORD' | translate}}</a>
              </div> -->
              <div class="text-center">
                <a class="small" routerLink="/login" >{{'REGISTER_ALREADY_REGISTERED' | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
